:host {
    display: block;
}

.-wrapper {
    padding: 16px;
    height: calc(100% - 32px);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        height: auto;
        width: 300px;
    }

    p {
        text-align: center;
        margin: 0px 0 30px 0;
    }
}

.content {
    padding: 8px;
    margin-bottom: 16px;

    mat-card {
        margin-right: 8px;
        text-align: center;

        img {
            height: auto;
            width: 70px;
        }
    }
}

.actions-buttons{
    margin-bottom: 16px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    // button {
    //     width: 100%;
    // }
}

.footer {
    margin-top: 32px;
    text-align: center;
}

.aviso {
    background-color: red;
    padding: 12px 0;

    p {
        color: #fff;
        background-color: red;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 0;
    }

    p > mat-icon {
        margin-right: 12px;
    }
}

.logo-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        height: auto;
        width: 100px;
    }
}

mat-cell {
    font-size: 20px;
}