<div class="example-button-row" style="margin:10px 0px 10px 10px" *ngIf="showButton">
  <button mat-mini-fab style="background-color:#21ba45" (click)="showForm();">
      <mat-icon aria-label="Example icon-button with a heart icon" style="color: #fff;">add</mat-icon>
    </button>
</div>
<table mat-table [dataSource]="challenges" class="mat-elevation-z8" *ngIf="!showFormChallenge">

  <ng-container matColumnDef="nombrePadrino">
    <th mat-header-cell *matHeaderCellDef> Padrino </th>
    <td mat-cell *matCellDef="let element"> {{element.nombrePadrino}} </td>
  </ng-container>
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef> Monto </th>
    <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
  </ng-container>
  <ng-container matColumnDef="bono">
    <th mat-header-cell *matHeaderCellDef> Bono </th>
    <td mat-cell *matCellDef="let element"> {{element.bono}} </td>
  </ng-container>
  <ng-container matColumnDef="fecCaducidad">
    <th mat-header-cell *matHeaderCellDef> Fecha Caducidad </th>
    <td mat-cell *matCellDef="let element"> {{element.fecCaducidad}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="example-button-row" style="margin:10px 0px 10px 10px" *ngIf="showBackButton">
  <button mat-mini-fab style="background-color: #758078;" (click)="showForm();">
      <mat-icon aria-label="Example icon-button with a heart icon" style="color: #fff;">replay</mat-icon>
    </button>
</div>
<div class="example-container" *ngIf="showFormChallenge && cuentas.length">
  <form class="example-container-form" [formGroup]="ownerForm"  fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field >
        <mat-select placeholder="Cuentas" formControlName="banco">
          <!-- <mat-option [value]="1">
            HSBC
          </mat-option>
          <mat-option [value]="2">
            FinLab
          </mat-option>
          <mat-option [value]="3">
            Banregio
          </mat-option> -->
          <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta.idCuenta">
            {{cuenta.idBanco == 1 ? 'HSBC' : cuenta.idBanco == 2 ? 'FinLab' : cuenta.idBanco == 3 ? 'Banregio' : 'Sin banco'}} - {{cuenta.numCuenta}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Monto" formControlName="monto">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Bono" formControlName="bono">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Días del reto" formControlName="diasDelReto">
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button style="background-color:#21ba45; color:#fff" (click)="saveChallenges(ownerForm.value)">Guardar</button>
      </div>
  </form>

</div>
