<div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>MoneyFight</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive" style="width: 100% !important">
      <!-- {{link.label}} -->
      <mat-icon>{{link.icon}}</mat-icon>
    </a>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>

<!-- menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Salir</span>
  </button>
</mat-menu>